<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>
<body>
    <h1>Hello this is authorization page!</h1>

    <h1>Sign In</h1>

    <form action="/auth/" method="post">

        {% csrf_token %}

        Username: <input type="text" name="username"> <br>
        Firstname: <input type="text" name="firstname"><br>
        Lastname: <input type="text" name="lastname"><br>
        Email: <input type="email" name="email"><br>
        Password: <input type="password" name="password1"><br>
        Confirm Password: <input type="password" name="password2"><br>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>